:root {
  --purp: #8882A9;
  /*  mediumslateblue      8882A9 gprupley gray
      bfbfb0 beigey      6d4f99 purple  */
}

::selection {
  background: #1E0213; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #1E0213; /* Gecko Browsers */
}

body {
  background-color: #333;
  color: var(--purp);
  margin: 0 20px;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
}

header {
  border-bottom: 3px solid var(--purp);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 1px;
  margin: 15px 0;
}

img {
  border-radius: 50px;
  filter: grayscale(90%);
  max-width: 100%;
  height: auto;
  width: auto;
}

table {
  border-spacing:0 20px;
  width: 100%;
}

td {
  text-align: center;
  border: 3px solid var(--purp);
  border-radius: 40px;
  font-size: 24px;
  height: 100px;
}

td a {
  color: mediumslateblue;
}

td a:hover {
  color: #bfbfb0;
}

ul {
  letter-spacing: 1px;
  line-height: 21px;
  list-style: inside;
  margin-top: 25px;
  text-align: left;

  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

.about-me {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-right: 10px;
}

.description {
  line-height: 25px;
  font-size: large;
  padding-left: 5px;
}

.description-container {
  text-align: center;
}

.img-div {
  max-width: 200%;
  height: auto;
  width: auto;
  min-width: 400;
}

.social-link {
  margin: 0px 5px;
}

.social-link a {
  color: var(--purp);
  font-size: 25px;
  text-decoration: none;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.name {
  font-size: 40px;
}

.projects {
  color: var(--purp);
  letter-spacing: 2px;
  margin: 20px 10px 15px 10px;
  text-align: center;
}