:root {
  --text-and-borders: black;
}

/*  MAX WIDTH 324   */

@media screen and (max-width: 320px) {
  .name {
    font-size: 0.9em;
  }
  .social-link a {
    font-size: 0.7em;
  }

  img {
    border-radius: 50px;
    height: auto;
    max-width: 100%;
    width: auto;
  }
}

/*  MIN WIDTH 325px   */

@media screen and (min-width: 320px) {
  .name {
    font-size: 1.1em;
  }
  .social-link a {
    font-size: 0.8em;
  }

  img {
    border-radius: 50px;
    height: auto;
    max-width: 100%;
    width: auto;
  }
}

/*  MIN WIDTH 415px   */

@media screen and (min-width: 415px) {
  .name {
    font-size: 1.5em;
  }
  .social-link a {
    font-size: 1.2em;
  }

  img {
    border-radius: 50px;
    height: auto;
    max-width: 100%;
    width: auto;
  }
} 

/*  MIN WIDTH 480px   */

@media screen and (min-width: 480px) {
  .name {
    font-size: 1.7rem;
  }

  .social-link a {
    font-size: 1.4rem;
  }

  img {
    border-radius: 50px;
    height: auto;
    max-width: 100%;
    width: auto;
  }
}

/*  MIN WIDTH 700px   */

@media screen and (min-width: 700px) {
  .name {
    font-size: 2.0rem;
  }

  .social-link a {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1080px) {
  img {
    border-radius: 3.0em;
    height: auto;
    width: auto;
  }
}

/* MAX MIDTH 1019 */
@media screen and (max-width: 1019px) {
  .about-me {
    display: grid;
    grid-template-columns: repeat(autofit);
  }
}

/* MIN WIDTH 1020*/
@media screen and (min-width: 1020px) {
  .about-me {
    display: grid;
    grid-template-columns: repeat(2, 50%)
  }
}

::selection {
  background: #fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff; /* Gecko Browsers */
}

body {
  background-color: moccasin;
  color: var(--text-and-borders);
  margin: 0 20px;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
}

header {
  border-bottom: 3px solid var(--text-and-borders);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 1px;
  margin: 15px 0;
}

img {
  filter: sepia(70%);
}

table {
  border-spacing:0 20px;
  width: 100%;
}

td {
  border: 3px solid var(--text-and-borders);
  border-radius: 0.5em;
  font-size: 24px;
  height: 100px;
  text-align: center;
}

td a {
  color: #11652C;
}

td a:hover {
  color: #31A1C8;
}

ul {
  display: grid;
  font-size: 24px;;
  grid-template-columns: repeat(auto-fit, 5.75em);
  letter-spacing: 1px;
  line-height: 21px;
  justify-content: center;
}

li {
  list-style-type: none;
}

.description {
  font-size: 24px;
  line-height: 25px;
  padding-left: 5px;
}

.description-container {
  align-self: center;
  text-align: center;
}

.pokemon-api, .pokemon-ui, .oaf-calc {
  padding: .5em;
}

.projects-header {
  color: var(--text-and-borders);
  letter-spacing: 2px;
  margin: 20px 10px 15px 10px;
  text-align: center;
}

.social-link {
  margin: 0px 5px;
}

.social-link a {
  color: var(--text-and-borders);
  text-decoration: none;
}
.img-container {
  text-align: center;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}